* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #4682B4;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section {
    display: flex;
}
nav {
    width: 150%;
    background: #4682B4;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li,
a {
    margin: 10px;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    padding: 10px;
}
nav li,
a:hover {
    color: #4682B4;
}
.table_vinho td{
    padding: 20px;
}
.table_vinho img:hover{
    background-color: #f8f1f1;
    cursor: pointer;
    
}
.vinhos_historia{
    padding: 30px;
    background-color: #6faada;
}
.div_rodape{
  border-top: 2px solid #ccc;
}
.div_app{
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
padding: 20px;
}
.div_conteudos{
display: flex;
justify-content: space-around;
align-items: flex-start;
background-color: #4682B4;
padding: 10px;
}
.div_conteudos ul {
list-style: none;
text-align: start;
}
.div_conteudos li {
padding: 10px;
color: #000;
cursor: pointer;
}
.li_titulo{
font-size: 20px;
font-weight: bold;
}
.div_rede_sociais{
display:flex;
flex-direction: column;
justify-content:center ;
margin-top: 10px;
}
.div_contatos{
display:flex;
flex-direction: column;
align-items: center;
justify-content:center ;
padding: 10px;
background-color: #4682B4;
color: #fff;
}