* {
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}

.div_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E88310;
}

.div_perfil {
    /* width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; */
    padding: 20px;
}

img {
    float: left;
    width: 220px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.perfil {
    float: inline-start;
    margin: 70px 0px 0px 70px;
}

.perfil h2 {
    font-size: 33px;
    color: #E8BB10;
}

.perfil h3 {
    color: #000;
    margin-top: 10px;
}

.objetivos {
    display: flex;
    flex-direction: column;
}

.objetivos h3 {
    font-size: 28px;
    text-align: center;
    background-color: #E85E10 ;
    color: #fff;
    padding: 20px;
}

.objetivos ul {
    padding: 35px;
}