body{
    padding: 0;
    margin: 0;
    background-color: #f2fee8;
}

.div_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.div_perfil {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

img {
    width: 120px;
    border: 2px solid black;
}

.perfil{
    float: left;
}